In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv("Resources/Global_Mobility_Report.csv")

/Users/michaelboyce/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
df

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
441299,ZW,Zimbabwe,Midlands Province,NaN,2020-05-17,NaN,NaN,NaN,NaN,7.0,NaN
441300,ZW,Zimbabwe,Midlands Province,NaN,2020-05-18,NaN,NaN,NaN,NaN,-14.0,NaN
441301,ZW,Zimbabwe,Midlands Province,NaN,2020-05-19,NaN,NaN,NaN,NaN,-14.0,NaN
441302,ZW,Zimbabwe,Midlands Province,NaN,2020-05-20,NaN,NaN,NaN,NaN,-14.0,NaN
441303,ZW,Zimbabwe,Midlands Province,NaN,2020-05-21,NaN,NaN,NaN,NaN,-18.0,NaN

In [38]:
country_df = df[df['sub_region_1'].isnull()]
country_df

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
440453,ZW,Zimbabwe,NaN,NaN,2020-05-17,-38.0,-22.0,-24.0,-57.0,-7.0,23.0
440454,ZW,Zimbabwe,NaN,NaN,2020-05-18,-29.0,-21.0,-21.0,-46.0,-23.0,27.0
440455,ZW,Zimbabwe,NaN,NaN,2020-05-19,-26.0,-16.0,-22.0,-45.0,-23.0,26.0
440456,ZW,Zimbabwe,NaN,NaN,2020-05-20,-26.0,-15.0,-21.0,-46.0,-24.0,27.0
440457,ZW,Zimbabwe,NaN,NaN,2020-05-21,-25.0,-14.0,-22.0,-45.0,-24.0,26.0

In [39]:
country_df.to_csv('Cleaned/google_country_mobility_data.csv')